{% extends 'base-en.html' %}
{% load static %}

{% block title %}
    About Fardin Mohammed
{% endblock %}

{% block content %}

        <div class="card" style="width: 25em; margin: 0 auto">
            <img class="card-img-top" src="{% static 'images/me.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Fardin Mohammed</h5>
                <p class="card-text">I am a programmer who loves listening to music and eat the best food in any city i
                    travel
                    to</p>
                <a href="http://github.com/fardeenmohd" class="btn btn-primary">My Github</a>
                <a href="http://linkedin.com/in/fardin-mohammed-25a2aa141" class="btn btn-primary">My Linkedin</a>
            </div>
        </div>


{% endblock %}
